# indicate this is the root of the project
root = true

[*.{kt,kts,java,xml,gradle,md}]
charset = utf-8
indent_style = space
indent_size = 4
continuation_indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true