# Package Files
*.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Gradle Ignores
.gradle
**/build
**/out
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Idea Ignores
**/.idea
**/*.iml

# Project Ignores
/local.properties

/src/test/kotlin/com/stilllynnthecloset/kotlr/MyAppKey.kt
/src/test/kotlin/com/stilllynnthecloset/kotlr/Main.kt
